@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="display-4">Hi all this is App2 </h1>
    <p> This is <a href="/cdn/test.png">Testlink of cdn1</a>.</p>
    <hr />
    </div>
